{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container">
    <div class="row">
         <div class="col">
              <div class="card" style="width: 18rem;">
                 <h3>Image not found</h3>
                 <img src="..." class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title">Test Card</h5>
                   <p class="card-text">This is a simple test for the Card title of a product.</p>
                   <a href="#" class="btn btn-primary">Add Product</a>
                </div>
             </div>
             <br>
        </div>
    </div>
</div>
{% endblock %}